/* Global CSS (used sparsely) */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: 400;
  font-size: 1.64rem;
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0;
}
