.OuterWrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.InnerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Title {
    margin: 0rem;
    line-height: normal;
}

.Link {
    color: #039be5;
    font-weight: bold;
    cursor: pointer;
}