.Background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -10;
    overflow-y: scroll;
}

.Container {
    width: 90%;
    margin: auto;
    padding-top: 7.5rem;
}

@media only screen and (min-width: 37.5rem) {
    .Container {
        width: 80%;
    }
}

@media only screen and (min-width: 80rem) {
    .Container {
        width: 70%;
    }
}