.Step2 {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background:#fafafa;
    z-index: -10;
}

.Title, .ButtonDiv {
    text-align: center;
}

.SliderWrapper {
    padding: 0.625rem 0.625rem 0.9375rem 0.625rem;
    width: 6.25rem;
}

.SliderGroup {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2.5rem;
}

.SubTitle {
    margin-top: 0;
    margin-bottom: 0.3125rem;
    font-size: 0.75rem;
}

.BudgetDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.BudgetWrapper {
    min-width: 60%;
}

.BudgetWrapper p {
    text-align: center;
}

.StreamWrapper {
    height: 12.5rem;
}

.Deadlines {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.DeadlineWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.DeadlineInfo {
    width: 100%;
    font-size: 0.875rem;
}

.InputOuterWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.InputInnerWrapper {
    width: 100%;
}



@media only screen and (min-width: 46.25rem) {
    .StreamWrapper {
        height: 18.75rem;
    }

    .DeadlineWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    
    .DeadlineInfo {
        width: 30%;
    }

    .InputOuterWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    .InputInnerWrapper {
        width: 70%;
        max-width: 12.5rem;
    }
}

@media only screen and (min-width: 65.625rem) {
    .BudgetDetails {
        flex-direction: row;
        margin-left: 0;
    }
}

