.Button {
    color: white !important;
    background: #1E88E5 !important;
    margin: 1.25rem 0.625rem 1.875rem 0.625rem !important;
    padding-left: 1.75rem  !important;
    padding-right: 1.75rem  !important;
}