.NavBar {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    background: #2e3133 !important;
    height: 4.375rem !important;
    padding: 0 1.875rem !important;
}

.Title {
    font-size: 1.5rem;
    margin-left: 1.25rem;
}

.Link {
    color: white;
}

.LogoWrapper {
    display: flex;
    align-items: center;
}

.MainNav {
    display: none;
}
  
.MainNavItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.MainNavItems a {
    text-decoration: none;
}
  
.MainNavItem {
    margin-left: 1.875rem;
}

@media (min-width: 40rem) {
    .MainNav {
      display: flex;
    }

    .NavBar {
        justify-content: space-between !important;
    }
}