.Step1 {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background:#fafafa;
    z-index: -10;
}

.Title, .ButtonDiv {
    text-align: center;
}

.Details {
    display: flex;
    justify-content: space-around;
}

.DetailsContainer {
    display: flex;
    flex-wrap: wrap;
}

.Wrapper {
    width: 100%;
}

@media only screen and (min-width: 54.375rem) {
    .Details>div {
        flex-wrap: nowrap;
    }

    .Wrapper {
        max-width: 18.75rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}




