.Button {
  text-transform: none !important;
  color: white !important;
  font-size: 1rem !important;
  background-color: none !important;
  padding: 0 1.5rem !important;
  border: 1px solid white !important;
}

.Button:hover {
  background-color: #1a1a1a !important;
}
