.Hero {
    height: 100vh;
    background-image: url('../../assets/background-1409025.svg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeroContainer {
    color: white;
    text-align: center;
}

.HeroTitle {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
    color: inherit;
    font-family: inherit;
}
